body {
  font-family: getFont("primary");
}

.main-content {
  background-color: getColor("lotion");
}

.recipes {
  margin-bottom: 32px;

  &__features-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    row-gap: 50px;

    @media (min-width: 834px) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 100px;
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.dish {
  position: relative;
  padding: 120px 8px 16px 16px;
  border-radius: 70px 70px 27px 27px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__img-wrapper {
    width: 160px;
    height: 160px;
    background-image: url("../../images/healthy.png");
    background-size: 150%;
    background-position: center;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &:nth-child(n + 3) {
    display: none;
  }

  @media (min-width: 834px) {
    &:nth-child(n + 5) {
      display: block;
    }
  }

  @media (min-width: 1440px) {
    &:nth-child(n) {
      display: block;
    }
  }
}

// .dish:nth-child(2) {
//   background-color: red;
// }

.recipes__subtitle {
  color: getColor("primary");
  @include universalValues(20px, 600, 24px);
}

.recipes__title {
  color: getColor("secondary");
  @include universalValues(26px, 700, 31px);
  margin-bottom: 5px;
}

.dish__title {
  color: getColor("secondary");
  @include universalValues(18px, 700, 22px);
}

.dish__subtitle {
  color: getColor("quick-silver");
  @include universalValues(14px, 500, 17px);
}

.benefits__wrapper {
  display: flex;
}

.benefit-dish {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 16px;
  align-items: center;
}

.benefit-dish__img {
  grid-row: 1/3;
}
